<!DOCTYPE html>
<html>
  <head>
    <title>InventoryTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <strong><%= name.to_s.capitalize %>: <%= msg %></strong>
    <% end %>

    <% if session[:user_id] %>
      <%= link_to 'Log out', '/sessions', method: :delete %>
    <% end %>
    <%= link_to 'Go back to home page', '/' %>

    <%= yield %>
  </body>
</html>
